nav {
    height: auto;
    width: 1200px;
    border: 1px solid;
    border-color: black;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header "
    "footer footer footer ";
}
.barre_logo{
    text-align: center;
}
.barre_top {
    width : auto;
    text-align: center;
    white-space: nowrap;
    border: 1px solid;
    border-color: black;
}
a {
    margin-left: 8px;
    margin-right: 8px;
}
.diaporama {
    margin: 0 auto;

}
