nav {
    height: auto;
    width: 1200px;
    border: 1px solid;
    border-color: black;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header "
    "footer footer footer ";
    margin: 0 auto;
}
.barre_logo{
    text-align: center;
}
.barre_top {
    margin : 2px;
    width : auto;
    text-align: center;
    white-space: nowrap;
    border: 1px solid;
    border-color: black;
}
